* {
	margin: 0;
	padding: 0;
}
/* body {
	font: 18px Verdana;
	color: #FFF;
  background: #CCC;
} */
#picbox {
	margin: 0px auto;
	width: 600px;
}
#boxcard {
	z-index: 1;
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 90px;
	height: 90px;
	margin: 3px;
	padding: 3px;
	border: 4px solid #EE872A;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
  background: #B1B1B1;
	z-index: 2;
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 10px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #EE872A;
	padding: 3px 5px;
	margin: 3px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: #999;
}